name: Rust

on:
  push:
    branches: [ "main" ]
    paths:
    - rust/**
    - .github/workflows/rust.yml
  pull_request:
    branches: [ "main" ]
    paths:
    - rust/**
    - .github/workflows/rust.yml

env:
  CARGO_TERM_COLOR: always

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v4
    - name: Build
      working-directory: ./rust
      run: cargo build --verbose
    - name: Run tests
      working-directory: ./rust
      run: cargo test --verbose
